---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const flags = [	
	{
		flag:'', name: 'Bandera 1'
		},

		
 
	{
		flag:'', name: 'Bandera 2'
		},
		

	{
		flag:'', name: 'Bandera 3'
		
	}
]
---
<Layout title="DUOLINGO CLONE">
	Este es mi contenido
	
			
		</div>
	</div>
</Layout>

